<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <%- style %>
  </head>

  <body>
    <%- include('_header'); %> <%- body %> <%- include('_footer'); %> <%- script
    %>
  </body>
</html>
